body {
	font-family : Helvetica;
	background-color : #b0c4de;
}

.local {
	background : #E1F5A9;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
}
.dev {
	background : #CEECF5;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
}
.stage {
	background : #FAAC58;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
}
.prod {
	background : #8A0808;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
}
label {
  background: #BEBABE;
}

#doscript {
	display: none;
}
