body {
  /* Image found on https://wallpapersafari.com/w/DAGRZ1 */
  background-image: url("../img/pastel-bg.jpg");
  background-color: #e4ebad;
 }

table {
  border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 200;
}

td, th {
  border: 1px solid orange;
}

td.bookmark {
  background-color: #f8e0da;
}

td.bookmark:hover {
  background-color: #92cff0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}
